block-shadow=0 0 5px rgba(0, 0, 0, 0.5)
block-bg=#FFF

@import 'nib'
@import 'nib/gradients'
@import 'styl/font'
@import 'styl/score'
@import 'styl/title'
@import 'styl/parrot'
@import 'styl/sidebar'
@import 'styl/controls'
@import 'styl/spinner'
@import 'styl/map'
@import 'styl/path'

html, body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	color: #333
	background: repeat url(../i/giftly.png) 0 0
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif
	line-height: 1.4