.sidebar
	position: absolute
	z-index: 10
	top: 2vw
	bottom: 2vw
	left: 2vw
	width: 28vw

	&__holder
		padding: 1vw 1.3vw
		background: block-bg
		box-shadow: block-shadow

	&__head
		margin: 0
		font-size: 2vw
		font-weight: normal
		white-space: nowrap
