.sidebar
	// overflow: hidden
	position: absolute
	z-index: 10
	top: 2vw
	bottom: 2vw
	left: 2vw

	&__holder
		padding: 1vw 1.3vw 0
		background: #FFF
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

	&__head
		margin: 0
		padding: 0 0 1.3vw
		font-size: 2vw
		font-weight: normal
		white-space: nowrap

	&__score
		padding: 0 0.25em
		background: #666
		color: #FFF

		&_color_yellow
			background: #FFC400
			color: #000

		&_color_red
			background: #C40000

		&_color_green
			background: #008C31


