.title
	overflow: hidden
	position: absolute
	z-index: 10
	width: 66vw
	top: 2vw
	right: 2vw
	padding: 1vw 1.3vw
	font-size: 2vw
	text-align: center
	background: block-bg
	box-shadow: block-shadow
	box-sizing: border-box
	transition: all 1s ease-in-out

	&.is-hidden
		display: none

	&.is-short
		padding: 1vw 0
		width: 0vw
		right: 36vw