#typed-cursor
	display: inline-block
	opacity: 1
	font-weight: 100
	animation: blink 1s infinite
	border-right: 0.2vw solid #333
	color: #FFF

@keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1
